<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function getClientById() {
            const clientIdTextBox = document.getElementById('clientIdTextBox');
            const clientDataContainer = document.getElementById('clientDataContainer');
            const id = clientIdTextBox.value;
            //fetch('api/client?id=' + id)
            fetch('api/client/' + id)
                .then(response => response.json())
                .then(client => clientDataContainer.innerHTML = JSON.stringify(client));
        }
    </script>
</head>

<body>
<h4>Получить клиента по id</h4>
<input type="text" id = "clientIdTextBox" value="" placeholder="Введите id клиента">
<button onclick="getClientById()">Получить</button>
<pre id = "clientDataContainer"></pre>

</body>
</html>
